.container {
  width: 710px;
  margin-top: 3em;
  margin-bottom: 3em;
}

body {
  background: #abc;
}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

footer {
  text-align: center;
}

section {
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

section.main {
  border-style: solid;
  border-width: 1px;
  border-color: #888;
  overflow: hidden;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

nav {
  padding: 0 0;
  white-space: nowrap;
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

div.logout {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
}

div.logout a:visited {
  color: #09c;
}

div.logout a:hover {
  text-decoration: underline;
}


/* Round corners */

.round,
.logo {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Welcome Message */

.header1, 
.header2 {
  font-size: 34pt;
  color: #444;
}

.header1 {
  float: left;
  margin-left: 200px;
  margin-top: 25px;
}

.header2 {
  float: right;
  margin-right: 100px;
  margin-top: 20px;
}

.img1 {
  float: left;
  margin-left: 120px;
  margin-top: 20px;
}

.img2 {
  float: right;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

div #login_button {
  float: left;
  margin-left: 170px;
  margin-top: 25px;
}

div #login_button tr td {
  padding: 0 0 0 0;
}

/* Header */

header .logo {
  float: left;
  margin-right: 30px;
  padding: 0 0 0 0;
}

header h1 {
  font-size: 34pt;
  margin-top: 0.5em;
  color: #444;
}
/* Media List */

section.media {
  width: 450px;
  margin-top: 80px;
}

div.media_entry {
  display: block;
  padding: 5 5 5 5;
  margin-bottom: 1em;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #aaa;
  font-size: 10pt;
}

div.media_entry img {
  margin-left: 0.4em;
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

div.artist,
div.name {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

div.artist {
  color: #555;
}

div.name {
  color: #000;
}

#pagingControls {
  clear: both;
}

#pagingControls ul {
  display: inline;
  padding-left: 0.5em;
}

#pagingControls li {
  display: inline;
  padding: 0 0.5em;
}

/* Profile & News */

section.profile {
  float: right;
  width: 150px;
  margin: 0 0 0 0;
}

section.profile > h5 {
  margin-top: 1em;
}

section.news {
  font-size: 10pt;
  padding: 0 0 0 0;
}

div.news_entry {
  display: block;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #bbb;
  margin-bottom: 5px;
}


