<div class="header1">Media Browser</div>
<div class="header2"> VKontakte </div>
<div class="img1">
  <%= image_tag("logo1.png", :class => "round") %>
</div>
<div class="img2">
  <%= image_tag("logo2.png", :class => "round") %>
</div>
<div id="login_button" onclick="VK.Auth.login(authInfo, 8216);"></div>

<script language="javascript">

  function authInfo(response) {
    if (response.session) {
      window.location.reload();
    }
  }
  VK.UI.button('login_button');

</script>

