<div class="logout">
  <a href="#" onclick="VK.Auth.logout(authInfo);">Logout</a>
</div>

<header>
  <div><%= image_tag("logo1.png", :class => "logo") %></div>
  <h1>Media Browser</h1>
</header>

<section class="profile">
  <img src=""/>
  <h7></h7>
  <h5>News</h5>
  <section class="news">
  </section>
</section>

<section class="media">
  <div id="content"></div>
  <div id="pagingControls"></div>
</section>

<script type="text/javascript">
  // Initialize pager
  var pager = new Imtech.Pager();

  // Get Login Status
  VK.Auth.getLoginStatus(getProfileInfo);

  function getProfileInfo(s) {

    if (s.session) {

	  // Get Profile Info
	  VK.Api.call('getProfiles', { uids: s.session.mid, 
	                               fields: 'first_name, last_name, photo_medium, bdate' }, 
	                               function(r) {
		  if (r.response) {
		      $("section.profile > img").attr('src', r.response[0].photo_medium);
		      $("section.profile > h7").html(r.response[0].first_name + 
		                                     ' ' + 
		                                     r.response[0].last_name +
		                                     ', ' +
		                                     getAge(r.response[0].bdate));
	      }
	    });
      }
  };

  // Get Newsfeed
  VK.Api.call('newsfeed.get', { count: 4, filters: 'post' }, function(r) {
    if (r.response) {
      for (var key in r.response.items) {
        if (r.response.items[key].text) {
          $("section.news").append(
            '<div class="news_entry">' +
            limitText(r.response.items[key].text, 50) +
            '</div>'
          );
        }
      }
    }
  });

  // Get Audio Files
  VK.Api.call('audio.get', {}, function(r) {
    if (r.response) {
      for (var key in r.response) {
        $("div#content").append(
          '<div class="media_entry">' +
          '<a href="' + r.response[key].url + '"><img src="images/download.png" /></a>' +
          '<a href="#" class="play"><img src="images/listen.png" /></a>' +
          '<div class="artist">' +
          limitText(r.response[key].artist, 25) + 
          '</div>' +
          '-' +
          '<div class="name">' + 
          limitText(r.response[key].title, 25) +
          '</div>' +
          '<audio preload="none"><source src="' + r.response[key].url + '" type="audio/mp3" /></audio>' +
          '</div>');
      }
      
      // Init Pager
      pager.paragraphsPerPage = 13; // set amount elements per page
      pager.pagingContainer = $('#content'); // set of main container
      pager.paragraphs = $('div.media_entry', pager.pagingContainer); // set of required containers
      pager.showPage(1);
    }
  });
  
  // Init Audio Play Handler
  $('a.play').live('click', function() {
    var audio = $(this).parent().children('audio').get(0);
    if (audio.paused) {
      audio.play();
      $(this).children('img').attr('src', 'images/pause.png');
    } else {
      audio.pause();
      $(this).children('img').attr('src', 'images/listen.png');
    }
  });

</script>

<script language="javascript">

  function authInfo(response) {
    window.location.reload();
  }

</script>
