<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>
    <%= javascript_include_tag 'http://vkontakte.ru/js/api/openapi.js' %>
    <%= javascript_include_tag 'jquery-1.7.1.min' %>
    <%= javascript_include_tag 'imtech_pager' %>
  </head>
  <body>
  <%= javascript_include_tag 'custom' %>
    <div class="container">
      <section class="main round">
        <%= yield %>
        <nav>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
          </ul>
        </nav>
      </section>
    </div>
  </body>
</html>
</html>
